.card{
    position: relative;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* width: 100%; */
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

/* flip effect code - sourced this from
 Video #9 Build a Memory Game with React
 - Flipping Animation: https://www.youtube.com/watch?v=9DNchCe8TwU */

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotate(90deg);
    transition-delay: 0s;
}