.App { 
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(211, 91, 109);
  border: 2px solid rgb(141, 119, 119);
  border-radius: 6px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background: #d4a0b1;
  color: #fff;
}

.instructions {
  text-align: justify;
  max-width: 600px;
  margin: 10px auto;

}

.gameboard { 
  max-width: 850px;
  margin: 10px auto;
}

button {
  background: none;
  border: 2px solid gray;
  padding: 6px 12px;
  border-radius: 4px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #d4a0b1;
  color: #fff;
}

/* #kitten-header img {
  height: 6rem;
  width: auto;
} */

/* #kitten-collection {
  margin: 2rem;
} */

.card-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.img {
  object-fit: cover;
} 

/* Popup style */
.popup-box {
  transition-delay: 0.4s;
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}



/* form {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  background: #fff;

} */


