.App { 
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(211, 91, 109);
  border: 5px solid darkred;
  border-radius: 6px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background: #d4a0b1;
  color: #fff;
}

.homepage-bgimage {
  background: url("https://cdn.pixabay.com/photo/2019/12/02/04/23/maneki-neko-4666877_1280.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-bgimage h1 {
  font-size: 200px;
  color: lightseagreen;
  text-shadow: 3px 3px 3px black;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* iOS */
  transform: translate(-50%, -50%);
}

.instructions-bgimage {
  background: url("https://cdn.pixabay.com/photo/2019/12/02/04/23/maneki-neko-4666877_1280.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.instructions h3 {
  text-align: center;
  color: black;
}

.instructions p {
  color: black;
}

.instructions {
  border: 5px solid darkred;
  display: block;
  position: absolute;
  text-align: justify;
  top: 20%;
  left: 30%;
  right: 30%;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.gameboard { 
  max-width: 850px;
  margin: 10px auto;
}

button {
  background: none;
  border: 2px solid gray;
  padding: 6px 6px;
  border-radius: 4px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #d4a0b1;
  color: #fff;
}

/* #kitten-header img {
  height: 6rem;
  width: auto;
} */

/* #kitten-collection {
  margin: 2rem;
} */

.card-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.img {
  object-fit: cover;
} 

/* Popup style */
.popup-box {
  transition-delay: 0.4s;
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

/* .home {
  background-image: url("https://cdn.shopify.com/s/files/1/0022/9176/1241/products/here-kitty-kitty-quilt-pattern-uses-woof-woof-meow-fabric-by-stacy-iest-hsu-for-moda-finished-quilt-48-x-48-212673_600x600.jpg?v=1596649555"); 
  background-size: contain;
  height: 100%;
  width: 100%;

} */



/* form {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  background: #fff;

} */


